#banner {
    background:url("../images/breakfast.jpg") 30% no-repeat;
    height:600px;
    padding:0;
    margin-top:30px;
    position: relative;
    border:solid black thick;
}

#banner-content h1{
    background-color: black;
    letter-spacing: 5px;
    font-size: 100px;
    text-align:center;
    font-family:Helvetica;
    color:white;
    margin:0;
    padding:0;
}

#navigation {
    background-color:white;
    position: absolute;
    height:50px;
    bottom: 0;
    left: 0;
    right: 0;
}

#navigation ul{
    list-style-type:none;
    position: absolute;
    right:0;
    padding:0;
    margin:0;
}

#navigation ul li{
    float:left;
    border-right: gray solid thin;
    border-bottom:gray solid thin;
}

#navigation ul li a{
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    letter-spacing: 5px;
    color:black;
    font-family: Calibri;
    padding: 14px 60px;
    display:inline-block;
}

#navigation ul li:hover{
    background-color: black;
}

#navigation ul li a:hover{
    color:white;
    font-weight: bold;
    letter-spacing:10px;
}

.vertical-center{
    position: relative;
    transform:translateY(-50%);
    top:50%;
}