body{  
    background:url("../images/spoonforkpattern.jpg");
    min-width: 960px;
    max-width: 1400px;
}

#main-content{
    padding:0;
    margin-top:0;
    margin:10px;
    position:relative;
    height:600px;
}

#main-content h1{
    font-family:Calibri;
    font-size: 50px;
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 3px;
    color:black;
    background:linear-gradient(45deg, white,orange,white);
}

#groceries-main{
    position:relative;
    height:60%;
}

#current-stock-label{
    left:0;
    width:20%;
}

#to-buy-label{
    right:0;
    width:20%;
}

#current-inventory-table,td{
    border:1px solid gray;
    border-collapse: collapse;
}

/*to-do: try using the justify-content as a solution 
for aligning sub sections instead of absolute position */
.groceries-subsection{
    background-color:white;
    box-shadow: 5px 5px 5px gray;
    position:absolute;
    top:20%;
    width:20%;
    height:60%;
}

#to-buy-subsection{
    left:30%;
}

#recipes-main{
    position:relative;
    margin-bottom:20px;
    height:50%;
}

.absolute-position{
    position:absolute;
}
.scrollable{
    overflow-y: auto;
}

.sectionbox{
    background-color:white;
    margin:0;
    border:solid lightgray thin;
}

.floatleft{
    float:left;
    padding:10px 60px;
}

.stick-to-left{
    left:0;
}

.stick-to-right{
    right:0;
}

